@font-face {
  font-family: 'HelveticaNeueLTCom-Bd';
  src: url('../fonts/HelveticaNeueLTCom-Bd.eot'); /* IE9 Compat Modes */
  src: url('../fonts/HelveticaNeueLTCom-Bd.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('../fonts/HelveticaNeueLTCom-Bd.woff2') format('woff2'), /* Super Modern Browsers */
  url('../fonts/HelveticaNeueLTCom-Bd.woff') format('woff'), /* Pretty Modern Browsers */
  url('../fonts/HelveticaNeueLTCom-Bd.ttf')  format('truetype'), /* Safari, Android, iOS */
  url('../fonts/HelveticaNeueLTCom-Bd.svg#svgFontName') format('svg'); /* Legacy iOS */
}

@font-face {
  font-family: 'HelveticaNeueLTCom-BdCn';
  src: url('../fonts/HelveticaNeueLTCom-BdCn.eot'); /* IE9 Compat Modes */
  src: url('../fonts/HelveticaNeueLTCom-BdCn.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('../fonts/HelveticaNeueLTCom-BdCn.woff2') format('woff2'), /* Super Modern Browsers */
  url('../fonts/HelveticaNeueLTCom-BdCn.woff') format('woff'), /* Pretty Modern Browsers */
  url('../fonts/HelveticaNeueLTCom-BdCn.ttf')  format('truetype'), /* Safari, Android, iOS */
  url('../fonts/HelveticaNeueLTCom-BdCn.svg#svgFontName') format('svg'); /* Legacy iOS */
}

@font-face {
  font-family: 'HelveticaNeueLTCom-BdIt';
  src: url('../fonts/HelveticaNeueLTCom-BdIt.eot'); /* IE9 Compat Modes */
  src: url('../fonts/HelveticaNeueLTCom-BdIt.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('../fonts/HelveticaNeueLTCom-BdIt.woff2') format('woff2'), /* Super Modern Browsers */
  url('../fonts/HelveticaNeueLTCom-BdIt.woff') format('woff'), /* Pretty Modern Browsers */
  url('../fonts/HelveticaNeueLTCom-BdIt.ttf')  format('truetype'), /* Safari, Android, iOS */
  url('../fonts/HelveticaNeueLTCom-BdIt.svg#svgFontName') format('svg'); /* Legacy iOS */
}

@font-face {
  font-family: 'HelveticaNeueLTCom-Cn';
  src: url('../fonts/HelveticaNeueLTCom-Cn.eot'); /* IE9 Compat Modes */
  src: url('../fonts/HelveticaNeueLTCom-Cn.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('../fonts/HelveticaNeueLTCom-Cn.woff2') format('woff2'), /* Super Modern Browsers */
  url('../fonts/HelveticaNeueLTCom-Cn.woff') format('woff'), /* Pretty Modern Browsers */
  url('../fonts/HelveticaNeueLTCom-Cn.ttf')  format('truetype'), /* Safari, Android, iOS */
  url('../fonts/HelveticaNeueLTCom-Cn.svg#svgFontName') format('svg'); /* Legacy iOS */
}

@font-face {
  font-family: 'HelveticaNeueLTCom-Hv';
  src: url('../fonts/HelveticaNeueLTCom-Hv.eot'); /* IE9 Compat Modes */
  src: url('../fonts/HelveticaNeueLTCom-Hv.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('../fonts/HelveticaNeueLTCom-Hv.woff2') format('woff2'), /* Super Modern Browsers */
  url('../fonts/HelveticaNeueLTCom-Hv.woff') format('woff'), /* Pretty Modern Browsers */
  url('../fonts/HelveticaNeueLTCom-Hv.ttf')  format('truetype'), /* Safari, Android, iOS */
  url('../fonts/HelveticaNeueLTCom-Hv.svg#svgFontName') format('svg'); /* Legacy iOS */
}

@font-face {
  font-family: 'HelveticaNeueLTCom-HvCn';
  src: url('../fonts/HelveticaNeueLTCom-HvCn.eot'); /* IE9 Compat Modes */
  src: url('../fonts/HelveticaNeueLTCom-HvCn.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('../fonts/HelveticaNeueLTCom-HvCn.woff2') format('woff2'), /* Super Modern Browsers */
  url('../fonts/HelveticaNeueLTCom-HvCn.woff') format('woff'), /* Pretty Modern Browsers */
  url('../fonts/HelveticaNeueLTCom-HvCn.ttf')  format('truetype'), /* Safari, Android, iOS */
  url('../fonts/HelveticaNeueLTCom-HvCn.svg#svgFontName') format('svg'); /* Legacy iOS */
}

@font-face {
  font-family: 'HelveticaNeueLTCom-It';
  src: url('../fonts/HelveticaNeueLTCom-It.eot'); /* IE9 Compat Modes */
  src: url('../fonts/HelveticaNeueLTCom-It.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('../fonts/HelveticaNeueLTCom-It.woff2') format('woff2'), /* Super Modern Browsers */
  url('../fonts/HelveticaNeueLTCom-It.woff') format('woff'), /* Pretty Modern Browsers */
  url('../fonts/HelveticaNeueLTCom-It.ttf')  format('truetype'), /* Safari, Android, iOS */
  url('../fonts/HelveticaNeueLTCom-It.svg#svgFontName') format('svg'); /* Legacy iOS */
}

@font-face {
  font-family: 'HelveticaNeueLTCom-Md';
  src: url('../fonts/HelveticaNeueLTCom-Md.eot'); /* IE9 Compat Modes */
  src: url('../fonts/HelveticaNeueLTCom-Md.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('../fonts/HelveticaNeueLTCom-Md.woff2') format('woff2'), /* Super Modern Browsers */
  url('../fonts/HelveticaNeueLTCom-Md.woff') format('woff'), /* Pretty Modern Browsers */
  url('../fonts/HelveticaNeueLTCom-Md.ttf')  format('truetype'), /* Safari, Android, iOS */
  url('../fonts/HelveticaNeueLTCom-Md.svg#svgFontName') format('svg'); /* Legacy iOS */
}

@font-face {
  font-family: 'HelveticaNeueLTCom-Roman';
  src: url('../fonts/HelveticaNeueLTCom-Roman.eot'); /* IE9 Compat Modes */
  src: url('../fonts/HelveticaNeueLTCom-Roman.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('../fonts/HelveticaNeueLTCom-Roman.woff2') format('woff2'), /* Super Modern Browsers */
  url('../fonts/HelveticaNeueLTCom-Roman.woff') format('woff'), /* Pretty Modern Browsers */
  url('../fonts/HelveticaNeueLTCom-Roman.ttf')  format('truetype'), /* Safari, Android, iOS */
  url('../fonts/HelveticaNeueLTCom-Roman.svg#svgFontName') format('svg'); /* Legacy iOS */
}

@font-face {
  font-family: 'HelveticaNeueLTCom-Th';
  src: url('../fonts/HelveticaNeueLTCom-Th.eot'); /* IE9 Compat Modes */
  src: url('../fonts/HelveticaNeueLTCom-Th.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('../fonts/HelveticaNeueLTCom-Th.woff2') format('woff2'), /* Super Modern Browsers */
  url('../fonts/HelveticaNeueLTCom-Th.woff') format('woff'), /* Pretty Modern Browsers */
  url('../fonts/HelveticaNeueLTCom-Th.ttf')  format('truetype'), /* Safari, Android, iOS */
  url('../fonts/HelveticaNeueLTCom-Th.svg#svgFontName') format('svg'); /* Legacy iOS */
}

body {
  font-family: 'HelveticaNeueLTCom-Roman';
  position: relative;

  &:before {
    content: '';
    width:100%;
    max-width: 405px;
    background: url(../../dist/images/bg_gradient.png);
    position: absolute;
    top:0;
    left:0;
    bottom:0;
    z-index: 0;
  }

  &:after {
    content: '';
    width:100%;
    max-width: 405px;
    background: url(../../dist/images/bg_gradient.png);
    position: absolute;
    top:0;
    right:0;
    bottom:0;
    transform: rotate(180deg);
    z-index: -1;
  }

}

b,
strong{
  font-family: 'HelveticaNeueLTCom-Bd';
}


.cipres {
  background: url(../../dist/images/bg_tecka.png);
}

h3 {
  font-size: 22px;
}

h4 {
  font-size: 18px;
}

a {
  color: $d-gray;
}

body .wrap .font_helvetica_bold,
body .wrap .font_helvetica_bold * {
  font-family: 'HelveticaNeueLTCom-Bd'!important;
}

body .wrap .font_helvetica_roman,
body .wrap .font_helvetica_roman * {
  font-family: 'HelveticaNeueLTCom-Roman'!important;
}

body .wrap .font_helvetica_italic,
body .wrap .font_helvetica_italic * {
  font-family: 'HelveticaNeueLTCom-It'!important;
}

.rp_bg_white {
  background: $white!important;
}


.drop-down-select{
  position:relative;
}

.drop-down-select .selected a {
  background: $green url(../../dist/images/ico_select.png) 7px 16px no-repeat;
  display: block;
  width: 54px;
  text-decoration: none;
  color: #3179ac;
  padding: 3.5px 0 7.5px 22px;
  text-align: center;
}

.drop-down-select .selected a span{
  cursor:pointer;
  display:block;
}

.drop-down-select .option{
  position:relative;
}

.drop-down-select .options ul{
  background:#fff none repeat scroll 0 0;
  display:none;
  list-style:none;
  padding:0;
  position:absolute;
  left:0;
  top:32px;
  width:auto;
  min-width:54px;
  z-index: 3;
  text-align: center;
}

.drop-down-select .selected span.value, .drop-down-select .options span.value{
  display: none;
}

.drop-down-select .options ul li a{
  padding:5px;
  display:block;
  text-decoration:none;
  color:#3179ac;
}

.drop-down-select .options ul li a:hover{
  background:$green;
  color:#fff;
  transition:0.2s ease;
}

.et_divi_builder #et_builder_outer_content .et_pb_with_background .et_pb_row {
  width: 100%;
}


.et_pb_gallery_image .et_overlay:before {
  color: $green!important;
}

.breadcrumb {
  padding: 3px 0;
  margin-bottom: 0;
  list-style: none;
  background-color: $white;
  border-radius: 0;
  font-size: 14px;
  font-family: 'HelveticaNeueLTCom-Md';

  li {

    a {
      color: #b4b5b2;
    }

    &.active a {
      color: #72746f;
    }

  }

  .breadcrumb-item + .breadcrumb-item:before {
    color: #b4b5b2;
  }


}

.home header {

  .rp_czech_flag_holder,
  .rp_breadcrumb {
    display: none;
  }

  .napiste_nam_holder {
    margin-top: 18px;
  }

}

*:focus {
  color: inherit!important;
  outline: 0;
}

#tinymce:before{
  content: '';
  background: none;
}


