// Grid settings
$main-sm-columns:       12;
$sidebar-sm-columns:    4;

// Colors
$brand-primary: #27ae60;
$gray: #8e9089;
$l-gray: #c7c8c4;
$d-gray: #72746f;
$white: #fff;
$black: #000;
$green: #84bd00;
$d-green:#64a028;