footer {
  padding-bottom: 20px;

  .main_footer {
    background: #e4e6e1;
    padding: 30px 40px;
    font-size: 14px;
    color: #5d5e59;

    h3 {
      color: $d-gray;
      text-transform: uppercase;
    }

    .main_footer-prehled {
      padding-top: 16px;

      a:after {
        content: '';
        width: 13px;
        height: 9px;
        display: inline-block;
        background: url(../../dist/images/ico_arrow_gray.png);
        background-size: cover;
        vertical-align: middle;
        margin-left: 7px;
        position: relative;
        top:-2px;
      }

    }

    .main_footer-gradient {
      min-height: 112px;
      background: rgba(191,194,187,1);
      background: -moz-linear-gradient(left, rgba(191,194,187,1) 0%, rgba(191,194,187,1) 0%, rgba(226,228,223,1) 66%, rgba(226,228,223,1) 85%, rgba(227,229,223,1) 100%);
      background: -webkit-gradient(left top, right top, color-stop(0%, rgba(191,194,187,1)), color-stop(0%, rgba(191,194,187,1)), color-stop(66%, rgba(226,228,223,1)), color-stop(85%, rgba(226,228,223,1)), color-stop(100%, rgba(227,229,223,1)));
      background: -webkit-linear-gradient(left, rgba(191,194,187,1) 0%, rgba(191,194,187,1) 0%, rgba(226,228,223,1) 66%, rgba(226,228,223,1) 85%, rgba(227,229,223,1) 100%);
      background: -o-linear-gradient(left, rgba(191,194,187,1) 0%, rgba(191,194,187,1) 0%, rgba(226,228,223,1) 66%, rgba(226,228,223,1) 85%, rgba(227,229,223,1) 100%);
      background: -ms-linear-gradient(left, rgba(191,194,187,1) 0%, rgba(191,194,187,1) 0%, rgba(226,228,223,1) 66%, rgba(226,228,223,1) 85%, rgba(227,229,223,1) 100%);
      background: linear-gradient(to right, rgba(191,194,187,1) 0%, rgba(191,194,187,1) 0%, rgba(226,228,223,1) 66%, rgba(226,228,223,1) 85%, rgba(227,229,223,1) 100%);
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#bfc2bb', endColorstr='#e3e5df', GradientType=1 );
      padding: 16px 0 16px 14px ;


      div {
        display: inline-block;
        line-height: 1.2;
        vertical-align: top;
      }

      & > div:first-child {
        color: $white;
        font-family: 'HelveticaNeueLTCom-Md';

        &:after {
          content: '';
          width: 12px;
          height: 9px;
          display: inline-block;
          background: url(../../dist/images/ico_arrow_white.png);
          vertical-align: middle;
          margin-left: 7px;
        }

      }

      div:last-child{
        width: 80%;
        padding-left: 5px;
      }


    }

  }

  .sub_footer {
    padding-top: 6px;
    padding-bottom: 5px;
    background: $white;
    color: #72746f;

    div{
      vertical-align: top;
      display: inline-block;
    }

    & > div:last-child {
      float: right;

      a:after {
        content: '';
        width: 12px;
        height: 9px;
        display: inline-block;
        position: relative;
        top:-2px;
        background: url(../../dist/images/ico_arrow_gray.png);
        vertical-align: middle;
        margin-left: 7px;
      }

    }
    
    a {
      color: $d-gray;
    }
    
  }


}