header {

  &::before{
    content: "";
    background: #fff;
    position: absolute;
    top: 0;
    width: 100%;
    height: 115px;
  }


  .rp_header_slogan {
    position: relative;
    top:21px;
    color: $gray;
    font-size: 24px;
    float: right;
    letter-spacing: 3px;
  }

  .header_top {
    padding-top: 34px;
    padding-bottom: 10px;
    background: $white;
  }


  .header_menu {

    nav {
      padding: 0;
      padding-bottom: 3px;
      background: $white;
      border-radius: 2px;

      .collapse {
        background: $l-gray;

        .nav-item {
          transition: all .5s;

          .nav-link {
            font-size: 14px;
            color: $d-gray;
            text-transform: uppercase;
            font-family: 'HelveticaNeueLTCom-Md';
          }

          &.active,
          &:hover {
            background: $green;

            .nav-link {
              color: $white;
            }

          }

        }




      }


    }


  }


  .social_icon_holder {
    padding-right: 4px;
    padding-left: 16px;

    a {
      position: relative;
      top: 4px;

      i {
        color: #8e9089;
        font-size: 28px;
        transition: all .5s;
      }

      &:hover {
        i {
          color: #3b5998;
        }
      }

    }

  }

  .napiste_nam_holder {
    width: 170px;
    background: $green;
    position: absolute;
    right: 3px;
    z-index: 2;
    margin-top: -10px;
    font-family: 'HelveticaNeueLTCom-Md';
    font-size: 14px;
    text-transform: uppercase;
    padding-top: 5px;
    padding-left: 10px;
    padding-bottom: 5px;

    a {
      color: $white;

      &:after {
        content: '';
        width: 30px;
        height: 19px;
        display: inline-block;
        position: relative;
        top:-2px;
        background: url(../../dist/images/ico_napiste.png);
        vertical-align: middle;
        margin-left: 15px;
      }

    }

    &:after {
      content: "";
      display: block;
      width: 10px;
      height: 10px;
      border-bottom: 34px solid transparent;
      border-left: 34px solid #84bd00;
      border-top: 0 solid transparent;
      position: absolute;
      right: -34px;
      top: 0;
    }




  }




  .rp_czech_flag_holder {
    position: absolute;
    right: 211px;
    bottom: -26px;
    float: none;
    background: #fff;

    .rp_czech_flag_text {
      padding-right: 5px;

      &:before {
        width: 19px;
        height: 44px;
        background-size: cover;

      }

    }


  }


}

.header_mobile {
  display: none;

  .header_mobile_logo_holder {
    padding-top: 20px;
    padding-bottom: 20px;
    background: $white;
    padding-left: 15px;
  }

  .header_mobile_slogan {
    background: $gray;
    font-size: 20px;
    color: $white;
    font-family: 'HelveticaNeueLTCom-Roman';
    padding-left: 15px;
    letter-spacing: 3px;
  }

  .header_mini_menu_holder {

    ul {
      list-style-type: none;
      margin: 0;
      padding: 3px 0;
      font-size: 0;
      background-color: $white;

      li {
        display: inline-block;
        width: 33%;
        font-size: 16px;
        margin: 0 0.15%;
        text-align: center;

        a {
          background: $l-gray;
          color: $d-gray;
          text-transform: uppercase;
          font-family: 'HelveticaNeueLTCom-Md';
        }

        &.active {
          a {
            background: $green;
            color: $white;
          }
        }

      }

    }




  }

  .mobile_menu_btn {
    font-size: 32px;
    color: $d-gray;
    padding: 5px 10px;
    line-height: 1;
    position: relative;
    cursor: pointer;
  }

  .header_mobile_select {

    .language_holder {
      position: relative;
      top: -7px;
    }

    .drop-down-select{

      .selected a {
        background: $white;
        width: 45px;
        padding: 3.5px 0 3.5px 0;
      }


      .options ul {
        min-width: 45px;
      }


    }

  }

}

.header_main_mobile_menu {
  width:230px;
  position: fixed;
  top:0;
  bottom:0;
  right: -230px;
  z-index: 101;
  background: $l-gray;
  color: $d-gray;
  border-left: 3px solid $white;

  ul {
    list-style-type: none;
    padding:0;
    margin:0;


    li {
      min-width: 230px;
      border-bottom: 3px solid $white;
      font-size: 20px;
      font-family: 'HelveticaNeueLTCom-Md';
      text-transform: uppercase;

      &:first-child {
        border-top: 3px solid $white;
      }

      &.active {
        background: $green;

        a {
          color: $white;
        }

      }

    }

  }

  .header_main_close_btn {
    padding: 10px 15px;
    text-align: right;
    font-size: 35px;
  }


}