.carousel-item {

  &:before {
    content: '';
    width: 100%;
    height: 50px;
    display: block;
    position: absolute;
    top: 0;
    box-shadow: inset 0 45px 58px -29px #000;
  }

  &:after {
    content: '';
    width: 100%;
    height: 57px;
    display: block;
    position: absolute;
    bottom: 0;
    box-shadow: inset 0 -45px 58px -29px #000;
  }
}

.carousel-indicators li {
  width: 100%;
  max-width: 10px;
  height: 10px;
  background-color: $white;
  box-shadow: 0 0 5px rgba(255, 255, 255, .9);
}

.carousel-indicators .active {
  background-color: $green;
}

.home_carousel {

  .carousel-caption {
    position: absolute;
    right: 20px;
    top: 70px;
    bottom: auto;
    left: auto;
    z-index: 10;
    padding-top: 0;
    padding-bottom: 0;
    color: #fff;
    text-align: right;
  }

  .carousel-indicators {
    right: 33px;
    bottom: 0;
    left: auto;
    margin-right: 0;
    margin-left: 0;
  }

  h2 {
    font-size: 35px;
    font-family: 'HelveticaNeueLTCom-Bd';
    max-width: 520px;
  }

  p {
    font-size: 20px;
    font-family: 'HelveticaNeueLTCom-It';
    max-width: 475px;
    display: inline-block;
    line-height: 1.1;
  }

}

.rp_czech_flag_holder {
  position: relative;
  float: right;
  background: $white;

  &:before {
    content: '';
    display: block;
    width: 10px;
    height: 10px;
    border-bottom: 43px solid transparent;
    border-right: 43px solid white;
    border-top: 0 solid white;
    position: absolute;
    left: -43px;
  }

  .rp_czech_flag_text {
    position: relative;
    padding-left: 34px;
    padding-top: 7px;
    padding-bottom: 8px;
    text-transform: uppercase;
    line-height: 1;
    font-weight: 600;

    &:before {
      content: '';
      display: block;
      width: 27px;
      height: 60px;
      background: url(../../dist/images/vlajka.png);
      position: absolute;
      left: 0;
      bottom: 0;
    }

  }

}

.rp_aplikace_holder {
  margin-top: 44px;
  margin-bottom: 15px;

  h3 {
    display: inline-block;
    position: relative;
    background: white;
    margin-bottom: 0;
    padding: 2px 5px 2px 5px;

    &:after {
      content: "";
      display: block;
      width: 10px;
      height: 10px;
      border-bottom: 0 solid transparent;
      border-left: 29px solid white;
      border-top: 28px solid transparent;
      position: absolute;
      right: -29px;
      top: 0;
    }

  }

}

.header_main_mobile_menu .nav-link:hover {
  color: #83bc00;
}

.aplikace_slider_holder {
  position: relative;
  background: rgba(255, 255, 255, 1);
  background: -moz-linear-gradient(top, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 1) 11%, rgba(201, 204, 195, 1) 100%);
  background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(255, 255, 255, 1)), color-stop(11%, rgba(255, 255, 255, 1)), color-stop(100%, rgba(201, 204, 195, 1)));
  background: -webkit-linear-gradient(top, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 1) 11%, rgba(201, 204, 195, 1) 100%);
  background: -o-linear-gradient(top, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 1) 11%, rgba(201, 204, 195, 1) 100%);
  background: -ms-linear-gradient(top, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 1) 11%, rgba(201, 204, 195, 1) 100%);
  background: linear-gradient(to bottom, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 1) 11%, rgba(201, 204, 195, 1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#c9ccc3', GradientType=0);

  .aplikace_slider {
    width: 100%;
    max-width: 900px;
    margin-right: auto;
    margin-left: auto;
    padding-top: 10px;
    padding-bottom: 10px;

    .aplikace_img {
      width: 112px;
      height: 100px;
      background-size: cover !important;
      margin-left: auto;
      margin-right: auto;
      transition: all .5s;
    }

    .aplikace_text {
      width: 100%;
      height: 57px;
      display: table;
      text-align: center;

      div {
        display: table-cell;
        vertical-align: middle;
        line-height: 1;
      }

    }

    .item {
      padding: 4px;
      background: $white;
      border-radius: 3px;
      transition: all .5s;

      &:hover {
        background: $green;

        a {
          color: $white;
          text-decoration: none;

        }

      }

    }

  }

  .owl_custom_navigation {
    height: 25px;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 30px;

    div {
      width: 45px;
      height: 29px;
      background: url(../../dist/images/slider_arrow.png);
      position: absolute;
      cursor: pointer;
    }

    .aplikace_prev {
      left: 20px;
    }

    .aplikace_next {
      right: 20px;
      transform: rotate(180deg);
    }

  }

}

.home .rp_homepage_box {
  background: rgba(255, 255, 255, 1) !important;
  background: -moz-linear-gradient(top, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 1) 11%, rgba(201, 204, 195, 1) 100%) !important;
  background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(255, 255, 255, 1)), color-stop(11%, rgba(255, 255, 255, 1)), color-stop(100%, rgba(201, 204, 195, 1))) !important;
  background: -webkit-linear-gradient(top, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 1) 11%, rgba(201, 204, 195, 1) 100%) !important;
  background: -o-linear-gradient(top, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 1) 11%, rgba(201, 204, 195, 1) 100%) !important;
  background: -ms-linear-gradient(top, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 1) 11%, rgba(201, 204, 195, 1) 100%) !important;
  background: linear-gradient(to bottom, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 1) 11%, rgba(201, 204, 195, 1) 100%) !important;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#c9ccc3', GradientType=0);
  padding: 15px !important;
  min-height: 537px !important;
  -moz-box-shadow: inset 0 -42px 100px -42px rgba(0, 0, 0, 0.49) !important;
  -webkit-box-shadow: inset 0 -42px 100px -42px rgba(0, 0, 0, 0.49) !important;
  box-shadow: inset 0 -42px 100px -42px rgba(0, 0, 0, 0.49) !important;

  &.rp_homepage_last_box {
    background: #9ea098 !important;
    border: 2px solid $white !important;
    border-radius: 3px !important;
  }

  h3 {
    font-size: 20px !important;
    margin-bottom: 0 !important;
    padding-bottom: 0 !important;
    font-family: 'HelveticaNeueLTCom-BdCn';
    color: #5d5e59 !important;
  }

  h2 {
    font-size: 25px !important;
    margin-bottom: 5px !important;
    font-family: 'HelveticaNeueLTCom-BdCn';
    color: #5d5e59 !important;
    line-height: 29px !important;
  }

  p {
    font-size: 14px !important;
    color: #5d5e59 !important;
    line-height: 1.3 !important;

    &.white_box {
      background: $white !important;
      padding: 10px !important;
      margin-bottom: 10px !important;
    }

  }

}

.rp_homepage_box_btn {

  display: block !important;
  //color: $white !important;
  color: $green !important;
  margin-top: 10px !important;
  text-align: right !important;

  &:after {
    content: "";
    width: 12px;
    height: 9px;
    display: inline-block;
    background: url(../../dist/images/ico_arrow_white.png);
    vertical-align: middle;
    margin-left: 7px;
  }

  &:hover {
    text-decoration: underline !important;
  }

}

.rp_produkty_editor_text {
  max-width: 600px;
  position: relative;
  background: $white;
  color: #b4b5b2;
  padding-left: 10px;
  font-size: 14px;
  font-family: 'HelveticaNeueLTCom-Md';
  padding-bottom: 5px;
  padding-left: 10px;
  line-height: 1.2;

  p {
    margin: 0;
  }

  &:after {
    content: "";
    display: block;
    width: 10px;
    height: 10px;
    border-bottom: 0 solid transparent;
    border-left: 53px solid #fff;
    border-top: 83px solid transparent;
    position: absolute;
    right: -49px;
    top: 0;
  }

}

.type-produkt p, .type-produkt li {
  line-height: 1.7em !important;
}

.type-produkt {

  li {
    list-style-type: none !important;

    &:before {
      content: '\2014';
      position: absolute;
      margin-left: -20px;

    }
  }
}

.rp_reference_editor_text {
  max-width: 600px;
  position: relative;
  background: $white;
  color: #b4b5b2;
  padding-left: 10px;
  font-size: 14px;
  font-family: 'HelveticaNeueLTCom-Md';
  padding-bottom: 5px;
  padding-left: 10px;
  line-height: 1.2;

  p {
    margin: 0;
  }

  &:after {
    content: "";
    display: block;
    width: 10px;
    height: 10px;
    border-bottom: 0 solid transparent;
    border-left: 53px solid #fff;
    border-top: 53px solid transparent;
    position: absolute;
    right: -48px;
    top: 0;
  }

}

.type-aplikace p strong {
  color: #84bc00 !important;
}

.rp_produkty_holder {
  background: $white;

  .rp_produkty_row > div {
    padding-top: 15px;
    padding-bottom: 15px;
  }

}

.rp_produkty_item {
  background: rgba(246, 247, 242, 1);
  background: -moz-linear-gradient(top, rgba(246, 247, 242, 1) 0%, rgba(246, 247, 242, 1) 0%, rgba(226, 228, 224, 1) 100%);
  background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(246, 247, 242, 1)), color-stop(0%, rgba(246, 247, 242, 1)), color-stop(100%, rgba(226, 228, 224, 1)));
  background: -webkit-linear-gradient(top, rgba(246, 247, 242, 1) 0%, rgba(246, 247, 242, 1) 0%, rgba(226, 228, 224, 1) 100%);
  background: -o-linear-gradient(top, rgba(246, 247, 242, 1) 0%, rgba(246, 247, 242, 1) 0%, rgba(226, 228, 224, 1) 100%);
  background: -ms-linear-gradient(top, rgba(246, 247, 242, 1) 0%, rgba(246, 247, 242, 1) 0%, rgba(226, 228, 224, 1) 100%);
  background: linear-gradient(to bottom, rgba(246, 247, 242, 1) 0%, rgba(246, 247, 242, 1) 0%, rgba(226, 228, 224, 1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f6f7f2', endColorstr='#e2e4e0', GradientType=0);
  padding: 15px;
  transition: all .4s;
  min-height: 305px;

  &:hover {
    background: #cecfcc;
  }

  h4 {
    font-family: 'HelveticaNeueLTCom-Bd';
    text-transform: uppercase;

    a {
      color: $gray;

      &:hover {
        text-decoration: none;
      }
    }
  }

  .rp_produkt_info_text {
    color: $gray;
    font-size: 14px;
    line-height: 1.4;

    ul {
      list-style-type: none;
      padding-left: 13px !important;

      li:before {
        content: '\2014';
        position: absolute;
        margin-left: -20px;
        list-style-type: none;
      }
    }

    img {
      max-width: 130px;
      max-height: 240px;
    }
  }

}
.type-aplikace ul li {
  list-style-type: none !important;

  &:before {
    content: "\2014";
    position: absolute;
    margin-left: -20px;
    list-style-type: none;
  }
}

.rp_produkt_more_btn {
  font-family: 'HelveticaNeueLTCom-Bd';
  color: $d-green;

  &:after {
    content: "";
    width: 20px;
    height: 14px;
    display: inline-block;
    background: url(../../dist/images/slider_arrow.png);
    background-size: cover;
    vertical-align: middle;
    margin-left: 7px;
    position: relative;
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
  }

}

.produkt-template-default main {
  h3, strong {
    color: #84bc00 !important;
  }
}

.produkt-template-default main,
.aplikace-template-default main,
.single-reference main {

  * {
    color: #8e9089 !important;
  }

  h2 {
    text-transform: uppercase !important;
  }

  p {
    font-family: 'HelveticaNeueLTCom-Roman' !important;
  }

}

#et_builder_outer_content {

  .rp_page_kontakt_holder {
    background: rgba(246, 247, 242, 1) !important;
    background: -moz-linear-gradient(top, rgba(246, 247, 242, 1) 0%, rgba(246, 247, 242, 1) 0%, rgba(226, 228, 224, 1) 100%) !important;
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(246, 247, 242, 1)), color-stop(0%, rgba(246, 247, 242, 1)), color-stop(100%, rgba(226, 228, 224, 1))) !important;
    background: -webkit-linear-gradient(top, rgba(246, 247, 242, 1) 0%, rgba(246, 247, 242, 1) 0%, rgba(226, 228, 224, 1) 100%) !important;
    background: -o-linear-gradient(top, rgba(246, 247, 242, 1) 0%, rgba(246, 247, 242, 1) 0%, rgba(226, 228, 224, 1) 100%) !important;
    background: -ms-linear-gradient(top, rgba(246, 247, 242, 1) 0%, rgba(246, 247, 242, 1) 0%, rgba(226, 228, 224, 1) 100%) !important;
    background: linear-gradient(to bottom, rgba(246, 247, 242, 1) 0%, rgba(246, 247, 242, 1) 0%, rgba(226, 228, 224, 1) 100%) !important;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f6f7f2', endColorstr='#e2e4e0', GradientType=0);

    .rp_kontakt_top {
      background: #fff !important;
    }

    .et_pb_row {

      p {
        color: $gray !important;
        line-height: 1.2 !important;
      }
    }

  }
}


.rp_kontakty_vlajky {

  ul {
    list-style-type: none !important;
    margin: 0 !important;
    background: #c7c8c4 !important;
    font-size: 0 !important;
    padding-left: 0;

    li {
      display: inline-block;
      border-right: 2px solid $white;

      a {
        padding: 10px 15px !important;
        margin-bottom: 0 !important;
        display: inline-block !important;
      }

    }

  }

}
.rp_napiste_popup_holder {
  background: $white;
  width: 100%;
  max-width: 700px;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  padding: 30px;

  .rp_popup_napiste {

    input,
    textarea {
      width: 100%;
      background: #f5f5f5;
      border-radius: 2px;
      border: 1px solid #c0c2bb;
      font-size: 14px;
      padding: 7px 5px;
    }

    label {
      display: block;
      font-size: 14px;
      font-family: 'HelveticaNeueLTCom-Roman';
    }

    textarea {
      height: 130px;
      max-width: 100%;
    }

    .rp_file {
      margin-bottom: 20px;
    }

    .wpcf7-submit {
      background: $green;
      color: $white;
      font-size: 20px;
      border: 0;
    }

  }

}

.rp_aplikace_page_holder {
  background: rgba(246, 247, 242, 1);
  background: -moz-linear-gradient(top, rgba(246, 247, 242, 1) 0%, rgba(246, 247, 242, 1) 0%, rgba(226, 228, 224, 1) 100%);
  background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(246, 247, 242, 1)), color-stop(0%, rgba(246, 247, 242, 1)), color-stop(100%, rgba(226, 228, 224, 1)));
  background: -webkit-linear-gradient(top, rgba(246, 247, 242, 1) 0%, rgba(246, 247, 242, 1) 0%, rgba(226, 228, 224, 1) 100%);
  background: -o-linear-gradient(top, rgba(246, 247, 242, 1) 0%, rgba(246, 247, 242, 1) 0%, rgba(226, 228, 224, 1) 100%);
  background: -ms-linear-gradient(top, rgba(246, 247, 242, 1) 0%, rgba(246, 247, 242, 1) 0%, rgba(226, 228, 224, 1) 100%);
  background: linear-gradient(to bottom, rgba(246, 247, 242, 1) 0%, rgba(246, 247, 242, 1) 0%, rgba(226, 228, 224, 1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f6f7f2', endColorstr='#e2e4e0', GradientType=0);
}

.rp_aplikace_page_item {
  max-width: 228px;
  margin: 15px auto;
  background: $white;
  padding: 4px;
  transition: all .5s;

  .rp_aplikace_page_img {
    width: 220px;
    height: 160px;
    background-size: cover !important;
  }

  .rp_aplikace_page_name {
    font-family: 'HelveticaNeueLTCom-Bd';
    min-height: 47px;
    color: $gray;
    text-transform: uppercase;
    padding: 4px 14px 2px;
    line-height: 1.3;
    transition: all .5s;
  }

  &:hover {
    background: $green;

    .rp_aplikace_page_name {
      color: $white;
    }

  }

  a:hover {
    text-decoration: none;
  }

}

.et_divi_builder #et_builder_outer_content .rp_aplikace_galerie .et_pb_gallery_item.et_pb_grid_item.et_pb_bg_layout_light {
  width: 47% !important;
  margin-right: 3%;
  margin-bottom: 3%;
  max-height: 123px;
  overflow: hidden;
}

.mark, mark {
  padding: 5px 15px;
  font-weight: bolder;
  background-color: #ffffff;
  display: inline-block;
  line-height: 1.15;
}

.rp_reference_page_holder {
  background: rgba(246, 247, 242, 1);
  background: -moz-linear-gradient(top, rgba(246, 247, 242, 1) 0%, rgba(246, 247, 242, 1) 0%, rgba(226, 228, 224, 1) 100%);
  background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(246, 247, 242, 1)), color-stop(0%, rgba(246, 247, 242, 1)), color-stop(100%, rgba(226, 228, 224, 1)));
  background: -webkit-linear-gradient(top, rgba(246, 247, 242, 1) 0%, rgba(246, 247, 242, 1) 0%, rgba(226, 228, 224, 1) 100%);
  background: -o-linear-gradient(top, rgba(246, 247, 242, 1) 0%, rgba(246, 247, 242, 1) 0%, rgba(226, 228, 224, 1) 100%);
  background: -ms-linear-gradient(top, rgba(246, 247, 242, 1) 0%, rgba(246, 247, 242, 1) 0%, rgba(226, 228, 224, 1) 100%);
  background: linear-gradient(to bottom, rgba(246, 247, 242, 1) 0%, rgba(246, 247, 242, 1) 0%, rgba(226, 228, 224, 1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f6f7f2', endColorstr='#e2e4e0', GradientType=0);

  .rp_reference_top_text {
    padding-top: 15px;
    padding-bottom: 15px;
    font-size: 19px;
    color: $gray;
    font-family: 'HelveticaNeueLTCom-It';
    line-height: 30px;
  }

  .rp_reference_item_holder {
    background: $white;
    padding: 15px;
    margin-top: 15px;
    margin-bottom: 15px;

    .rp_reference_item_heading_holder {
      font-family: 'HelveticaNeueLTCom-Bd';
      color: $gray;

      h3 {
        font-size: 21px;
        margin-bottom: 0;
      }

      p {
        font-size: 14px;
      }
    }

    .rp_reference_item_logo_holder {
      text-align: right;

      img {
        max-width: 150px;
        max-height: 50px !important;
      }
    }

  }

  .rp_reference_item_img {
    height: 218px;
    margin-bottom: 5px;
  }

}

.rp_proc_menu_holder {
  background: $white;
  font-size: 0;
  padding: 3px 0;

  .rp_proc_menu_item {
    width: 24.6%;
    display: inline-block;
    padding: 6px 0;
    background: #dee0d9;
    color: $gray;
    font-size: 18px;
    font-family: 'HelveticaNeueLTCom-Roman';
    text-align: center;
    text-transform: uppercase;
    margin-left: 0.5%;
    cursor: pointer;

    &.active {
      background: #a2a49d;
      color: $white;
    }

    &:first-child {
      margin-left: 0;
    }

  }

}

.owl-carousel_slid {
  z-index: 0;

  .owl-nav.disabled + .owl-dots {
    right: 33px;
    bottom: 0;
    left: auto;
    margin-right: 0;
    margin-left: 0;
    position: absolute;
    width: 150px;
    text-align: right;
  }

  .owl-dots .owl-dot {
    width: 100%;
    max-width: 10px;
    height: 10px;
    background-color: #fff;
    box-shadow: 0 0 5px hsla(0, 0%, 100%, .9);
    margin-left: 3px;
    margin-right: 3px;

    &.active {
      background-color: $green;
    }

    span {
      display: none;
    }
  }
}

.rp_tabs_mobile {
  display: none;
}

.rp_proc_mobile_holder {
  background: #eceee9;
  padding: 15px 25px;
  color: $gray;

  .rp_proc_mobile_item {
    margin-bottom: 50px;

    h2 {
      font-size: 20px;
      font-family: 'HelveticaNeueLTCom-Bd';
    }

    & > h2 {
      font-size: 33px;
      font-family: 'HelveticaNeueLTCom-BdCn';
    }

    &:last-child {
      margin-bottom: 20px;
    }

    .rp_proc_mobile_item_text {

      & > div {
        margin-top: 20px;
      }

    }

  }

}

.rp_proc_content_holder {
  height: 600px;

  .rp_proc_content:first-child {
    display: block;
    width: 100%;
  }

  .rp_proc_content {
    display: none;
    height: 600px;
  }

  .rp_proc_content_text {
    padding-top: 9px;
    color: $gray;

    h2 {
      font-size: 28px;
      font-family: 'HelveticaNeueLTCom-Bd';
    }

    p {
      font-size: 14px;
      font-family: 'HelveticaNeueLTCom-Roman';
      line-height: 1.2;
      margin-bottom: 9px;
    }

  }

  .rp_proc_content_four_items {
    position: relative;

    .rp_proc_content_text {
      width: 100%;
      max-width: 365px;
      position: absolute;

      &.rp_tab_position_top_left {
        top: 46px;
        left: 245px;
        border-bottom: 1px solid $gray;

        &:after {
          content: '';
          width: 41px;
          height: 41px;
          display: block;
          background: url(../../dist/images/cara.png);
          position: absolute;
          left: 0;
          right: 0;
          margin: auto;
        }

      }

      &.rp_tab_position_top_right {
        top: 46px;
        right: 30px;
        border-bottom: 1px solid $gray;

        &:after {
          content: '';
          width: 41px;
          height: 41px;
          display: block;
          background: url(../../dist/images/cara.png);
          position: absolute;
          left: 0;
          right: 0;
          margin: auto;
        }

      }

      &.rp_tab_position_bot_left {
        bottom: 75px;
        left: 45px;
        border-top: 1px solid $gray;

        &:before {
          content: '';
          width: 41px;
          height: 41px;
          display: block;
          background: url(../../dist/images/cara.png);
          position: absolute;
          top: -41px;
          left: 0;
          right: 0;
          margin: auto;
        }

      }

      &.rp_tab_position_bot_right {
        bottom: 75px;
        right: 225px;
        border-top: 1px solid $gray;

        &:before {
          content: '';
          width: 41px;
          height: 41px;
          display: block;
          background: url(../../dist/images/cara.png);
          position: absolute;
          top: -41px;
          left: 0;
          right: 0;
          margin: auto;
        }

      }

    }

  }

  .rp_proc_content_two_items {
    position: relative;

    .rp_proc_content_text {
      width: 100%;
      max-width: 445px;
      position: absolute;

      &.rp_tab_position_top {
        top: 46px;
        right: 165px;
        border-bottom: 1px solid $gray;

        &:after {
          content: '';
          width: 41px;
          height: 41px;
          display: block;
          background: url(../../dist/images/cara.png);
          position: absolute;
          left: 0;
          right: 0;
          margin: auto;
        }

      }

      &.rp_tab_position_bot {
        bottom: 75px;
        left: 165px;
        border-top: 1px solid $gray;

        &:before {
          content: '';
          width: 41px;
          height: 41px;
          display: block;
          background: url(../../dist/images/cara.png);
          position: absolute;
          top: -41px;
          left: 0;
          right: 0;
          margin: auto;
        }

      }

    }

  }

  .rp_proc_content_normal {
    padding-top: 30px;

    .rp_proc_content_text {
      width: 100%;
      max-width: 365px;
      border-bottom: 1px solid $gray;
      position: relative;
      margin-left: 40px;

      &:after {
        content: '';
        width: 41px;
        height: 41px;
        display: block;
        background: url(../../dist/images/cara.png);
        position: absolute;
        left: 0;
        right: 0;
        margin: auto;
        transform: rotate(90deg);
      }

      & + .rp_proc_content_text {
        margin-top: 40px;
      }

    }

  }

}

.rp_page_stazeni_holder {
  background: $white;
  font-size: 14px;
  margin-bottom: 48px;

  .rp_stazeni_item_holder {
    position: relative;
    background: rgba(246, 247, 242, 1);
    background: -moz-linear-gradient(top, rgba(246, 247, 242, 1) 0%, rgba(246, 247, 242, 1) 0%, rgba(226, 228, 224, 1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(246, 247, 242, 1)), color-stop(0%, rgba(246, 247, 242, 1)), color-stop(100%, rgba(226, 228, 224, 1)));
    background: -webkit-linear-gradient(top, rgba(246, 247, 242, 1) 0%, rgba(246, 247, 242, 1) 0%, rgba(226, 228, 224, 1) 100%);
    background: -o-linear-gradient(top, rgba(246, 247, 242, 1) 0%, rgba(246, 247, 242, 1) 0%, rgba(226, 228, 224, 1) 100%);
    background: -ms-linear-gradient(top, rgba(246, 247, 242, 1) 0%, rgba(246, 247, 242, 1) 0%, rgba(226, 228, 224, 1) 100%);
    background: linear-gradient(to bottom, rgba(246, 247, 242, 1) 0%, rgba(246, 247, 242, 1) 0%, rgba(226, 228, 224, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f6f7f2', endColorstr='#e2e4e0', GradientType=0);
    margin-bottom: 10px;
    padding: 15px 15px 20px;
    color: $gray;

    h2 {
      font-size: 25px;
      font-family: 'HelveticaNeueLTCom-Bd';
      text-transform: uppercase;
    }

    .rp_stazeni_item_header {

      h2,
      p {
        display: block;
        width: 100%;
        max-width: 85%;
      }

    }

  }

}

.rp_panel_btn {
  background: $white;
  color: #a7a8a3;
  width: 40px;
  height: 40px;
  position: absolute;
  top: 10px;
  right: 60px;
  text-align: center;
  border-radius: 50%;
  transition: all .4s;

  i {
    font-size: 30px;
    position: relative;
    top: 5px;
    transition: transform .4s ease-in-out;
  }

  &:hover {
    background: $green;

    i {
      color: $white;
    }

  }

  &[aria-expanded="true"] {

    i {
      transform: rotate(-180deg);
    }

  }

  &:focus {
    outline: 0;
    color: $gray;
  }

}

.rp_stazeni_item_header a:hover {
  color: #84bc00;
  text-decoration: none;
}

.post-type-archive-soubory .wrap,
.page-template-template-proc .wrap,
.single-aplikace .wrap,
.single-reference .wrap,
.single-produkt .wrap {
  margin-top: 53px;
}

.rp_soubor_item {
  display: inline-block;
  text-align: center;
  font-size: 17px;
  max-width: 150px;
  margin: 10px 15px;
  vertical-align: top;

  .soubor_ico {
    font-size: 50px;
  }

  a:hover {
    color: inherit;
    text-decoration: none;
    opacity: .8;
  }

}

.sub_accord {
  .rp_stazeni_item_holder {
    padding: 10px 20px 1px !important;
  }
  a {
    font-size: 18px;
  }
}


