@media (min-width: 1200px) {

  .container {
    width: 1090px;
    max-width: 100%;
  }

}

@media (min-width: 992px) {

  .navbar-toggleable-md .navbar-nav .nav-link {
    padding-right: 14px;
    padding-left: 14px;
  }

}

@media (max-width: 1300px) {
  .rp_tabs_mobile {
    display: block;
  }

  .rp_tabs_desktop {
    display: none;
  }

  body:after, body:before {
    max-width: 105px;
    background-size: contain;

  }

}

@media (min-width: 992px) and (max-width: 1300px) {

  .rp_produkty_editor_text {
    max-width: 512px;

    &:after {
      border-left: 69px solid #fff;
      border-top: 69px solid transparent;
    }

  }

}

@media (max-width: 1200px) {

  .aplikace_slider_holder {

    .aplikace_slider {
      max-width: 770px;
    }

  }

  .rp_aplikace_page_holder {

    .rp_aplikace_page_item {
      margin: 15px 10px;

      .rp_aplikace_page_img {
        width: 100%;
      }

    }

  }

  .main_footer-prehled {
    padding: 16px 15px 0;
  }

}

@media (max-width: 991px) {

  .header_desktop {
    display: none;
  }

  .header_mobile {
    display: block;
  }

  .aplikace_slider_holder .aplikace_slider {
    max-width: 375px;
  }

  footer {

    .sub_footer {
      text-align: center;

      & > div {
        display: block;

        &:last-child {
          float: inherit;
        }

      }
    }
  }

  .rp_reference_page_holder .rp_reference_item_holder {

    .rp_reference_item_logo_holder {
      text-align: left;
      margin-bottom: 10px;
    }

  }

  .header_mobile_select {

    & > div {
      display: inline-block;
      width: 45%;
    }

  }

  .header_mobile {

    .napiste_nam_holder {
      left: 15px;
      right: auto;
      z-index: 2;
      margin-top: 0;
    }

    .rp_czech_flag_holder {
      position: absolute;
      right: 15px;
      bottom: -45px;
      float: none;
      background: #fff;

      .rp_czech_flag_text {
        font-size: 15px;
        padding-left: 23px;

        &:before {
          width: 14px;
          height: 34px;
          background-size: cover;
          top: 7px;
        }

      }

    }

  }

  .post-type-archive-aplikace main,
  .post-type-archive-reference main,
  .post-type-archive-produkt main {
    margin-top: 50px;
  }

  .header_mobile_select {
    position: relative;
    top: 15px;
  }

}

@media (max-width: 980px) {

  .et_divi_builder #et_builder_outer_content .et_pb_column_1_5 {
    width: 32% !important;
    margin-left: 0.5% !important;
    margin-right: 0.5% !important;
  }

}

@media (max-width: 767px) {

  .header_mobile_logo_left {

    img {
      width: 100%;
      max-width: 250px;
      height: auto;
    }

  }

  .aplikace_slider_holder .aplikace_slider {
    max-width: 250px;
  }

  .rp_produkty_editor_text {
    padding: 10px;

    &:after {
      display: none;
    }

  }

  .header_mobile_select {
    top: 0;
  }

  .home header .napiste_nam_holder {
    margin-top: 10px;
  }

  header .napiste_nam_holder {
    padding-top: 3px;
    padding-bottom: 2px;
    width: 150px;
  }
  .page-header h1 {
    margin-top: 40px;
  }
  header .napiste_nam_holder:after {
    border-bottom: 29px solid transparent;
    border-left: 30px solid #84bd00;
    right: -29px;
  }

}

@media (max-width: 600px) {

  .rp_reference_page_holder .rp_reference_top_text {
    font-size: 15px;
  }
  .rp_stazeni_item_header a {
    font-size: 15px;
  }
  .rp_soubor_item .soubor_ico {
    font-size: 30px;
  }
  .rp_panel_btn {
    right: 15px;
  }
  .sub_accord .soubor {
    font-size: 11px;
  }
  .aplikace_slider_holder .aplikace_slider {
    max-width: 250px;
  }

  .rp_aplikace_page_holder .rp_aplikace_page_item {
    margin: 15px auto;
  }

  .header_mobile .header_mobile_slogan {
    letter-spacing: 0;
  }

  .et_divi_builder #et_builder_outer_content .et_pb_column_1_5 {
    width: 49% !important;
  }

}

@media (max-width: 400px) {
  .et_divi_builder #et_builder_outer_content .et_pb_column_1_5 {
    width: 100% !important;
  }
  footer .main_footer {
    padding: 20px 20px;
  }
  header .napiste_nam_holder a {
    font-size: 14px;
  }

  .header_mobile {
    .rp_czech_flag_holder .rp_czech_flag_text {
      font-size: 10px;
    }
    .header_mobile_slogan {
      background: #8e9089;
      font-size: 16px;
    }
    .header_mini_menu_holder ul li {
      font-size: 12px;
    }
  }
}